html {
    font-family: Helvetica;
}

header {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1basyxm*_gcl_au*MTEwNzQ2Mzc5My4xNzMyODg5ODM3*_ga*Mjg5OTgzNTA5Ni4xNzMyODkwMDc3*_ga_3LRZM6TM9L*MTczMzA2MTYzOS40LjEuMTczMzA2MzIzMS41MS4wLjA.");
    width: 100%;
    font-size: 100px;
    font-weight: 700;
    color: khaki;
    text-align: center;
}

section h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

section article a {
    color: blue;
    font-weight: 700;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}